/Recordings
/Data
/Error_log.txt
/SA.xml
/TV_log.txt
/UKVarious.xml
/UKVarious_mod.xml
/USlocals.xml
/ballyus.xml
/beinuk.xml
/beinus.xml
/epg_ripper_UK1.xml
/epg_ripper_UK1.xml.gz
/epg_ripper_US2.xml
/epg_ripper_US2.xml.gz
/log.1.txt
/log.2.txt
/log.3.txt
/log.txt
/movie_log.txt
/variousus.xml
